<html>
	<head>
		<title>Blackjack Storm</title>

		<!-- CSS-->
		<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
		<link rel="stylesheet" href="dist/vendor/remix/remixicon.css" />
		<link rel="stylesheet" href="style.css" />

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet" />
	</head>
	<body>
		<header id="view--auth">
			<div v-if="info">
				<button v-on:click="sign_out">Sign Out</button>
			</div>

			<div v-if="!info">
				<button v-on:click="modal('sign-up')">Sign Up</button>
				<button v-on:click="modal('log-in')">Log In</button>
			</div>

			<div v-if="view" class="fixed top-0 right-0 left-0 bottom-0 bg-black-50 z-9999">
				<div class="bg-white w-100 mw6 center pa3 br3 mt3">
					<div v-if="view == 'sign-up'">
						<h1>Sign Up</h1>
						<input v-model="username" type="text" placeholder="jane2021" />
						<input v-model="email" type="email" placeholder="jane@gmail.com" />
						<input v-model="password" type="password" />
						<button v-on:click="sign_up()">Next</button>
						<button v-on:click="modal(false)">Cancel</button>
					</div>
					<div v-if="view == 'log-in'">
						<h1>Log In</h1>
						<input v-model="email" type="email" placeholder="jane@gmail.com" />
						<input v-model="password" type="password" />
						<button v-on:click="log_in()">Next</button>
						<button v-on:click="modal(false)">Cancel</button>
					</div>
					<span v-if="error" class="b red" v-text="error"></span>
				</div>
			</div>
		</header>
		<div id="view--gameboard" class="theme-background h-100 flex flex-column items-stretch">
			<div class="flex w-100 h-100">
				<!-- Sidebar -->
				<div class="sidebar flex flex-column pa3 ml3">
					<!-- Leaderboard -->
					<div class="w-100 pt3">
						<div class="bg-white ph2 pv3 br3">
							<h3 class="pa0 ma0 mb1">Leaderboard</h3>
							<ul class="list pl0 measure center ma0" v-for="leader in leaderboard">
								<li
									v-bind:class="['ph2 lh-copy pv1 f7 ba bl-0 bt-0 br-0 b--dotted b--black-30', {'bg-yellow': (leader.displayName == player.info.displayName)}]"
								>
									<div class="flex justify-between">
										<span>{{ leader.displayName }} [{{ leader.chips }}]</span>
										<span>{{ leader.rank }}</span>
									</div>
								</li>
							</ul>
						</div>
					</div>

					<!-- User Info -->
					<div class="w-100 pt3" v-if="player.info">
						<div class="bg-white ph2 pv3 br3">
							<div class="br-pill bg-black-10 flex justify-between pv2 ph3 f7">
								<span class="ttu">Chips</span>
								<span class="b">{{ player.chips }} <i class="icon theme-color-coin ri-copper-coin-line"></i> </span>
							</div>
							<div class="br-pill mt2 bg-black-10 flex justify-between pv2 ph3 f7">
								<span class="ttu">Demerits</span>
								<span class="b">{{ player.demerits }} <i class="icon theme-color-demerit ri-scan-line"></i></span>
							</div>
							<!-- <dl class="lh-title pa3 mt0">
								<dt class="f6 b">Chips</dt>
								<dd class="ml0">{{ player.chips }}</dd>
								<dt class="f6 b mt2">Demerits</dt>
								<dd class="ml0">{{ player.demerits }}</dd>
								<dt class="f6 b mt2">Current Bet</dt>
								<dd class="ml0">{{ table.bet }}</dd>
							</dl> -->
							<label class="f7 ttu b mt3 mb2 db">Pay Back Demerit</label>
							<button class="w-100" v-on:click="action_payback()">200 <i class="icon theme-color-coin ri-copper-coin-line"></i></button>
						</div>
					</div>
				</div>
				<!-- /Sidebar -->

				<!-- Gameboard -->
				<div class="w-100 pa3 flex flex-column">
					<div class="w-100 pa3 flex justify-center flex-column">
						<!-- Messaging -->
						<div class="mb2 tc">
							<span v-text="message" class="b white ph4 pv2 i f3 dib"></span>
						</div>

						<!-- Dealer Cards -->
						<div class="flex items-center justify-center">
							<div class="mr5 bb bw2 b--white white pa2 b f3" v-if="state !== 'new-game' && get_total(hands.dealer, false) > 0">
								{{ get_total(hands.dealer, false) }}
							</div>
							<div class="pl3" v-if="hands.dealer.length > 0" v-for="card in hands.dealer">
								<c-card v-bind:details="card"></c-card>
							</div>
							<div v-if="hands.dealer.length == 0">
								<div class="flex">
									<div class="ph2 pt2 ba bw1 b--white-20 mr2 playing-card tpl"></div>
									<div class="ph2 pt2 ba bw1 b--white-20 mr2 playing-card tpl"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="w-100 pa3 flex justify-center flex-column">
						<!-- Players Cards -->
						<div class="w-100 flex pa3 items-center justify-center">
							<div class="mr5 bb bw2 b--white white pa2 b f3" v-if="state !== 'new-game' && get_total(hands.player) > 0">
								{{ get_total(hands.player) }}
							</div>
							<div class="pl3" v-if="hands.player.length > 0" v-for="card in hands.player">
								<c-card v-bind:details="card"></c-card>
							</div>
							<div v-if="hands.player.length == 0">
								<div class="flex">
									<div class="ph2 pt2 ba bw1 b--white-20 mr2 playing-card tpl"></div>
									<div class="ph2 pt2 ba bw1 b--white-20 mr2 playing-card tpl"></div>
								</div>
							</div>
						</div>

						<!-- Player Action -->
						<div class="mt2 tc" v-if="player.info">
							<div class="dib mv2 bg-white black ph3 pv2" v-if="state == 'player-turn'" v-on:click="action_hit()">HIT</div>
							<div class="dib mv2 bg-white black ph3 pv2" v-if="state == 'player-turn'" v-on:click="action_stand()">STAND</div>
							<div class="dib mv2 bg-white black ph3 pv2" v-if="state == 'player-turn'" v-on:click="action_doubledown()">DOUBLE DOWN</div>

							<div v-if="state == 'new-game' || state == 'end-game'">
								<div class="br2 bg-white-10 w-auto pa3 dib">
									<div class="white">
										<span>{{ table.bet }} <i class="icon theme-color-coin ri-copper-coin-line"></i></span>
									</div>
									<div class="flex justify-center">
										<div class="dib mv2 bg-white black ph3 pv2" v-if="player.chips > 100" v-on:click="bet_up(100)">+100</div>
										<div class="dib mv2 bg-white black ph3 pv2" v-if="player.chips > 10" v-on:click="bet_up(10)">+10</div>
										<div class="dib mv2 bg-white black ph3 pv2" v-on:click="bet_up(1)">+1</div>
										<div class="dib mv2 bg-white black ph3 pv2" v-on:click="bet_down(1)">-1</div>
										<div class="dib mv2 bg-white black ph3 pv2" v-if="player.chips > 10" v-on:click="bet_down(10)">-10</div>
										<div class="dib mv2 bg-white black ph3 pv2" v-if="player.chips > 100" v-on:click="bet_down(100)">-100</div>
									</div>
								</div>
								<br clear="all" />
								<div class="dib mv2 bg-white black ph3 pv2" v-on:click="deal_cards()">NEW HAND</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Gameboard -->
			</div>
		</div>

		<script id="template-card" type="x-template">
			<div v-bind:class="['slide-left ph2 pt2 bg-white mr2 playing-card', extras]">
				<div v-if="details.flipped">
					<div class="playing-card--top-right">
						<div>{{ val }}</div>
						<img class="playing-card--suit-small" v-bind:src="['/dist/images/' + details.suit + '.png']" />
					</div>
					<img class="playing-card--suit-large" v-bind:src="['/dist/images/' + details.suit + '.png']" />
				</div>
			</div>
		</script>

		<!-- Firebase -->
		<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
		<script src="/dist/js/firebase-cred.js"></script>
		<script>
			firebase.initializeApp(firebaseConfig);
			var FIRESTORE = firebase.firestore();
		</script>

		<!-- JS -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
		<script src="/dist/js/blackjack.js"></script>
	</body>
</html>
