<html>
	<head>
		<title>Blackjack Storm</title>

		<!-- CSS-->
		<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div id="play-now" class="h-100 flex flex-column items-stretch">
			<!-- Header -->
			<header class="w-100"></header>
			<!-- /Header -->

			<div class="flex w-100 h-100 bg-black-10">
				<!-- Sidebar -->
				<div class="w-20">
					<dl class="lh-title pa3 mt0">
						<dt class="f6 b">Chips</dt>
						<dd class="ml0">{{ player.chips }}</dd>
						<dt class="f6 b mt2">Demerits</dt>
						<dd class="ml0">{{ player.demerits }}</dd>
						<dt class="f6 b mt2">Current Bet</dt>
						<dd class="ml0">{{ table.bet }}</dd>
					</dl>
					<button v-if="player.demerits > 0 && player.chips > 200" v-on:click="action_payback()">Pay Back Demerit 200 C</button>
				</div>
				<!-- /Sidebar -->

				<!-- Gameboard -->
				<div class="w-80 pa3 bg-black-50 flex flex-column justify-center">
					<div class="w-100 pa3 flex justify-center flex-column">
						<!-- Messaging -->
						<div class="mb2 tc">
							<p v-text="message" class="b white ph4 pv2 bg-black-10 dib"></p>
						</div>

						<!-- Dealer Cards -->
						<div class="flex items-center justify-center">
							<div class="mr5 bg-white-10 white pa3 br3 b f3" v-if="state !== 'new-game' && get_total(hands.dealer, false) > 0">
								{{ get_total(hands.dealer, false) }}
							</div>
							<div class="pl3" v-if="hands.dealer.length > 0" v-for="card in hands.dealer">
								<div v-html="build_template('card', card)"></div>
							</div>
							<div v-if="hands.dealer.length == 0">
								<div class="flex">
									<div class="ph2 pt2 ba bw1 b--white-20 mr2 playing-card tpl"></div>
									<div class="ph2 pt2 ba bw1 b--white-20 mr2 playing-card tpl"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="w-100 pa3 flex justify-center flex-column">
						<!-- Players Cards -->
						<div class="w-100 flex pa3 items-center justify-center">
							<div class="mr5 bg-white-10 white pa3 br3 b f3" v-if="state !== 'new-game' && get_total(hands.player) > 0">
								{{ get_total(hands.player) }}
							</div>
							<div class="pl3" v-if="hands.player.length > 0" v-for="card in hands.player">
								<div v-html="build_template('card', card)"></div>
							</div>
							<div v-if="hands.player.length == 0">
								<div class="flex">
									<div class="ph2 pt2 ba bw1 b--white-20 mr2 playing-card tpl"></div>
									<div class="ph2 pt2 ba bw1 b--white-20 mr2 playing-card tpl"></div>
								</div>
							</div>
						</div>

						<!-- Player Action -->
						<div class="mt2 tc">
							<div class="dib mv2 bg-white black ph3 pv2" v-if="state == 'player-turn'" v-on:click="action_hit()">HIT</div>
							<div class="dib mv2 bg-white black ph3 pv2" v-if="state == 'player-turn'" v-on:click="action_stand()">STAND</div>
							<div class="dib mv2 bg-white black ph3 pv2" v-if="state == 'player-turn'" v-on:click="action_doubledown()">DOUBLE DOWN</div>

							<div v-if="state == 'new-game' || state == 'end-game'">
								<p>BET: {{ table.bet }}</p>
								<div class="flex justify-center">
									<div class="dib mv2 bg-white black ph3 pv2" v-if="player.chips > 100" v-on:click="bet_up(100)">+100</div>
									<div class="dib mv2 bg-white black ph3 pv2" v-if="player.chips > 10" v-on:click="bet_up(10)">+10</div>
									<div class="dib mv2 bg-white black ph3 pv2" v-on:click="bet_up(1)">+1</div>
									<div class="dib mv2 bg-white black ph3 pv2" v-on:click="bet_down(1)">-1</div>
									<div class="dib mv2 bg-white black ph3 pv2" v-if="player.chips > 10" v-on:click="bet_down(10)">-10</div>
									<div class="dib mv2 bg-white black ph3 pv2" v-if="player.chips > 100" v-on:click="bet_down(100)">-100</div>
								</div>
								<div class="dib mv2 bg-white black ph3 pv2" v-on:click="deal_cards()">NEW HAND</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Gameboard -->
			</div>
		</div>

		<!-- JS -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
		<script src="/dist/js/blackjack.js"></script>
	</body>
</html>
