:root {
	--theme-background: #2f3640;
}

.theme-background {
	background: var(--theme-background);
}

/***
Elements 
**/
body {
	font-family: "Roboto", sans-serif;
}

header {
	height: 45px;
}

.playing-card {
	width: 110px;
	height: 168px;
	padding: 10px;
	border-radius: 6px;
	font-size: 16px;
	font-weight: bold;
}

.playing-card:not(.tpl) {
	box-shadow: -1px 10px 5px 5px rgba(0, 0, 0, 0.1);
}

.playing-card--back {
	background: #40739e;
}

.playing-card--top-right {
	width: 25px;
	text-align: center;
	margin-left: -5px;
}

.playing-card--Hearts,
.playing-card--Diamonds {
	color: #ff6a6a;
}

.playing-card--Spades,
.playing-card--Clubs {
	color: #0a3d62;
}

.playing-card--suit-small {
	width: 20px;
}

.slide-left {
	-webkit-animation: slide-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation-delay: 0.2s;
}

@keyframes slide-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		margin-left: -60px;
	}
}
